<div class="container">
  <div class="row">
    <div class="col card">
      <div class="card-body">
        <h1 class="card-title">Awesome Barnes</h1>
      </div>
    </div>
  </div>
  <div id="people" class="row justify-content-center">
    <%= render @people, html_class: 'col-sm-6 col-md-4' %>
  </div>
  <div id="projects" class="row justify-content-center">
    <%= render @projects, html_class: 'col-sm-6 col-md-4' %>
  </div>
</div>
